/* SearchBar.css */
.search-bar-container {
    padding: 20px;
    background-color: #f9f6f1;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.search-bar-container h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.search-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #ebe0d8;
    font-size: 14px;
    outline: none;
}

.search-button {
    background-color: #ebe0d8;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

.search-button i {
    color: #5f5f5f;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    background-color: #c5b2a1;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.tag span {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
}
