.filters {
    background-color: var(--bg-secondary);
    border: 1px solid var(--accent-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
    border-radius: 8px;
    padding: 20px;
}

.filters h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: var(--text-primary);
}

.star-filter {
    margin-bottom: 20px;
}

.star-filter label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--text-primary);
}

.star-range {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: var(--slider-bg);
    outline: none;
    border-radius: 5px;
}

.star-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--slider-thumb);
    cursor: pointer;
    border-radius: 50%;
}

.star-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--slider-thumb);
    cursor: pointer;
    border-radius: 50%;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    color: var(--text-secondary);
    font-size: 10px;
    margin-top: 5px;
}


.checkbox-filters {
    display: flex;
    flex-direction: column;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

.checkbox-text {
    color: var(--text-primary);
}